{% extends 'index.html' %}
{% block content %}

<section class="d-flex justify-content-center align-items-center flex-column mt-5">
    <div class="d-flex gap-5">
        <a href="{% url 'new_ticket' %}" class="btn btn-light border border-black">Demande une critique</a>
        <a href="#" class="btn btn-light border border-black">Créer une critique</a>
    </div>
    <div class="card mt-4" style="width: 18rem;">
        {% for post in posts %}
        {% endfor %}
    </div>
</section>


{% endblock %}