{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="w-75 my-5">
    <h2 class="text-center fw-normal">Créer une critique</h2>

    <form method="post" enctype="multipart/form-data" class="container mt-4">
        {% csrf_token %}

        <div class="border border-black p-3">
            <p>Vous âtres en train de poster en réponse à</p>
            <div class="border border-black p-3 m-5">
                <div>
                    {% if t.user.id == user.id %}
                    <p>Vous avez demandé une critique</p>
                    <p>{{t.time_created}}</p>
                    {% else %}
                    <p>{{t.user.username}} a demandé une critique</p>
                    <p>{{t.time_created}}</p>
                    {% endif %}
                </div>
                <h3 class="fw-medium">{{t.title}}</h3>
                <p class="">{{t.description}}</p>
                {% if t.image %}
                <div class="w-50">
                    <img class="w-100 object-fit-contain" src="{{ t.image.url }}" alt="{{t.title}}">
                </div>
                {% endif %}
            </div>
        </div>

        <div class="border border-black p-4">
            <p>Critique</p>
            <div class="px-4">
                {{r|crispy}}
            </div>
            <div class=" d-flex justify-content-end gap-4 mt-5">
                <button onclick="location.href='{% url 'flux' %}'" type="button"
                    class="btn btn-light border border-black">Retourner</button>
                <button type="submit" class="btn btn-light border border-black">Envoyer</button>
            </div>
        </div>


    </form>
</section>

{% endblock %}