{% extends 'index.html' %}
{% block content %}

<section>
    <div class="d-flex justify-content-around  my-5">
        <a href="{% url 'new_ticket' %}" class="btn btn-light border border-black">Demande une critique</a>
        <a href="{% url 'new_review' %}" class="btn btn-light border border-black">Créer une critique</a>
    </div>
    {% for post in posts %}
        {% if post.content_type == 'REVIEW' %}
            {% include 'review/review_snippet.html' %}
        {% elif post.content_type == 'TICKET' %}
            {% include 'review/ticket_snippet.html' %}
        {% endif %}
    {% endfor %}
</section>


{% endblock %}