<article class="d-flex flex-column border border-black mb-3 p-3">
    <div>
        {% if post.user.id == user.id %}
        <div class="d-flex justify-content-between">
            <p>Vous avez publié une critique</p>
            <p>{{post.time_created}}</p>
            {% else %}
            <p>{{post.user.username}} a publié une critique</p>
            <p>{{post.time_created}}</p>
            {% endif %}
        </div>

        <h3 class="fw-medium">{{post.headline}}</h3>
        <p>Note: {{post.rating}}<i class="fas fa-star ms-1 text-danger"></i></p>
        <p>{{post.body}}</p>

    </div>
    <div class="border border-black p-3">
        <div class="d-flex justify-content-between">
            {% if post.ticket.user.id == user.id %}
            <p>Vous avez demandé une critique</p>
            <p>{{post.ticket.time_created}}</p>
            {% else %}
            <p>{{post.ticket.user.username}} a demandé une critique</p>
            <p>{{post.ticket.time_created}}</p>
            {% endif %}
        </div>
        <h3 class="fw-medium">{{post.ticket.title}}</h3>
        <p class="">{{post.ticket.description}}</p>
        {% if post.ticket.image %}
        <div class="ticket_image">
            <img class="object-fit-contain" src="{{ post.ticket.image.url }}" alt="{{post.ticket.title}}">
        </div>
        {% endif %}
        <div>
            {% if post.ticket.user != user%}
            <a href="{% url 'review_ticket' post.ticket.pk %}" type="button"
                class="text-black px-3 py-2 border rounded border-black float-end text-decoration-none">Créer une critique</a>
            {% endif %}
        </div>
    </div>
</article>