{% extends 'index.html' %}
{% block content %}
<div class="text-center mt-5">
    <p>Etês-vous sûr de vouloir désabonner <strong>{{object.followed_user.username}}</strong>?</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-light border border-black mt-2 me-5 ">Désabonner</button>
        <button type="button" onclick="location.href='{% url 'subscriptions' %}'" class="btn btn-light border border-black mt-2 me-5 ">Retourner</button>
    </form>

</div>

{% endblock content %}